<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="welcome-header">
      <h1 class="welcome-header__title">ULTRA BOX</h1>
    </header>
    <form>
      <h1 class="welcome-header__name">
        <span id="username">--</span>님, 환영합니다.
      </h1>
      <div class="login-form__button">
        <a class="signup-button" href="reservation.html"
          ><input type="button" value="예약 하기"
        /></a>
        <a class="signup-button" href="checkreservation.html"
          ><input type="button" value="예약 확인"
        /></a>
      </div>
    </form>
  </body>
</html>
